<h1>Book a Flight</h1>

<%= form_with(url: "/index", method: "get") do %>
  <p>Leaving from <%= select_tag :departure_airport, options_for_select(@departure_airports) %>
  Going to <%= select_tag :arrival_airport, options_for_select(@arrival_airports) %></p>
  <p>Departing on <%= select_tag :departure_date, options_for_select(@departure_dates) %>
  Number of travelers <%= select_tag :num_travelers, options_for_select(@num_travelers) %></p>
  <%= submit_tag("Search") %>
<% end %>

<% unless params[:departure_airport].nil? %>
  <h2>Showing flights from <%= Airport.find(@chosen_departure_airport).code %> to <%= Airport.find(@chosen_arrival_airport).code %> on <%= @chosen_departure_date %></h2>
  <%= form_with(url: "bookings/new", method: "get") do %>
    <% Flight.where(departure_airport_id: @chosen_departure_airport, arrival_airport_id: @chosen_arrival_airport).each do |f| %>
      <%= radio_button_tag "flight", f.departure_time %>
      <%= label_tag "flight", "#{f.departure_time_formatted}, Duration #{f.duration}" %>
    <% end %>
    <br><%= submit_tag("Book Flight") %>
  <% end %>
<% end %>
