<h1>Flight Details</h1>
<p>Flight ID <%= @flight.id %></p>
<p>Departing from <%= @flight.departure_airport.code %> on <%= @flight.departure_time %></p>
<p>Arriving at <%= @flight.arrival_airport.code %></p>

<h1>Passenger Details</h1>
<%= form_with model: @booking do |b_form| %>
  <%= hidden_field :booking, :flight_id, value: @flight.id %>
    <%= b_form.fields_for :passengers do |p_form| %>
      <p>Passenger Info</p>
      <%= label_tag :name, "Name", {class: "form-label"} %>
      <%= p_form.text_field :name, {class: "form-control"} %><br>
      <%= label_tag :email, "Email", {class: "form-label"} %>
      <%= p_form.text_field :email, {class: "form-control"} %><br>
    <% end %>
  <%= submit_tag "Complete Booking", {class: "btn btn-primary"} %>
<% end %>
