<h1>Bookings Search</h1>

<div class="container">
  <%= form_with(url: "search", method: "get") do %>
    <%= label_tag :booking_id, "Search by booking ID: "%>
    <%= text_field_tag :booking_id %>
    <%= submit_tag "Search", {class: "btn btn-primary"} %>
  <% end %>
</div>

<br>
<% if params[:booking_id].present? %>
  <div class="container">
      <% booking = Booking.find(params[:booking_id])%>

      <% flight = booking.flight %>
      <h3>Booking Information</h3>

      <p>Booking ID <%= booking.id %></p>
      <p>Flight ID <%= booking.flight_id %></p>
      <p>Departing: <%= flight.departure_airport.code %></p>
      <p>Arriving: <%=  flight.arrival_airport.code %></p>
      <p>Time: <%=  flight.departure_time %></p>

      <h3>Passengers on this booking</h3>
      <% booking.passengers.each do |passenger| %>
        <p>Name: <%= passenger.name %></p>
        <p>Email: <%= passenger.email %></p>
      <% end %>
  </div>
<% end %>
